.toast { 
  width: 100%; 
} 
.hide { 
  display: none;
} 
.main { 
  padding-bottom: 0!important; 
}

.btn-close {
  position: relative;
}

.btn-close::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: 'x'; 
  color: #5B5B5B;
  font-weight: 500;
}