
[class*="wrapper"] {
 	max-width: 900px;
    margin: 0 auto;
    padding: 0 24px;
}

.all__wrapper {
	margin: 8% auto 2% auto;    
}

.form__wrapper {
	position: relative;
	padding: 30px 0 10px 0;
	box-shadow: 1.8px 2.4px 5px 0 rgba(0, 0, 0, 0.3);
	background-color: #FFFDE7;
}

.wrapper:first-of-type::after {
  content: '';
  position:  absolute;
  top: 30px;
  right: 30px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #6fc6cc;
  box-shadow: 3px 3px 4px #cccccc;
}

.wrapper:first-of-type::before {
  content: '';
  position:  absolute;
  top: 30px;
  left: 30px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #6fc6cc;
  box-shadow: 3px 3px 4px #cccccc;
}

h1 {
  font-size: 64px;
  margin: 20px 0 15px;
  text-align: center;
  color: #189BA3;
}

.query-block {
  position: relative;
}

.clear-select {
	right: 0;
	top: 0;
	position: absolute;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.input__text {
  width: 95%;
  background-color: #FFFDE7;
  border: none;
  padding: 10px;
  color: #189BA3;
  font-family:'Quicksand', "Microsoft JhengHei", sans-serif;
  font-size: 20px;
}

.input__text:focus {
  outline: none;
  font-size: 20px;
}

.input__text::placeholder {
  color: #b0ccce;
}

.input__underline {
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #189BA3;
  transition: all 0.2s;
}


.input__text:focus + .input__underline {
  left: 0;
  width: 95%;
}

.wrapper:not(:first-of-type) section {
	margin-top:  40px;
}


ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: flex;
	justify-content: flex-start;
	padding: 10px;
}

li:hover {
	border-radius: 5px;
	background: rgba(235, 235, 255, 0.6);
}

li+li {
	margin-top: 30px;
}

.todos label {
	cursor: pointer;
	display: flex;
	align-items: center;
	max-width: 95%;
}

.todo {
  cursor: pointer;
  position: relative;
}

.todo:after {
	line-height: 20px;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: " ";
  background-color: #FFFDE7;
  display: inline-block;
  visibility: visible;
  padding: 0px 5px;
  border-radius: 3px;
  border: 2px solid #189BA3;
}

.todo:checked:after {
	text-align: center;
  position: absolute;	
  content: "✓";
  font-size: 12px;
  color: white;
  background: #189BA3;
}

.btn__delete {
	margin-left: auto;
	position:  relative;
	cursor: pointer;
}

.btn__delete:before {
	display: block;
	width: 20px;
	height: 2px;
	position: absolute;
	content: '';
	top: 50%;;
	left: 50%;
	background: #189BA3;
	transform:  translate(-50%, -50%) rotate(45deg);
	border-radius: 10px;
	transition: background 0.2s;
}

.btn__delete:after {
	display: block;
	width: 20px;
	height: 2px;
	position:  absolute;
	content: '';
	top: 50%;;
	left: 50%;
	background: #189BA3;
	transform:  translate(-50%, -50%) rotate(-45deg);
	border-radius: 10px;
	transition: background 0.2s;
}

.todo+div {
	margin-left: 15px;
	position: relative;
	display: inline-block;
	color: #189BA3;
	font-weight: bold;
	font-size: 20px;
	transition: color 0.2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.completed .todo+div {
	color: rgba(24, 155, 163, 0.5)
}

.completed .todo+div::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	height: 3px;
	background: rgba(24, 155, 163, 0.5);
}

.completed .btn__delete:hover:before {
	background: #189BA3;
}

.completed .btn__delete:hover:after {
	background: #189BA3;
}

.completed .btn__delete:before {
	background: rgba(24, 155, 163, 0.5);
}

.completed .btn__delete:after {
	background: rgba(24, 155, 163, 0.5);
}

.toolbar {
	align-items: center;
	color: #189BA3;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
}

.complete-type {
	display: flex;	
}

.complete-type .active {
	border: 2px solid #189BA3;
	border-radius: 5px;
}

.complete-type div {
	box-sizing: border-box;
	padding: 10px ;
}

.selet-tools {
	display: flex;
}

label {
	cursor: pointer;
	display: flex;
	align-items: center;
}

.select-all {
	margin-left:  5px;
	position: relative;
	height: 20px;
	width: 20px;
	border: 2px solid #189BA3;
	border-radius: 5px;	
}

.select-all:after {
	line-height: 20px;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: " ";
  background-color: #FFFDE7;
  display: inline-block;
  visibility: visible;
  border-radius: 5px;
  border: 2px solid #189BA3;
}

.select-all:checked:after {
	text-align: center;
  position: absolute;	
  content: "✓";
  font-size: 12px;
  color: white;
  background: #189BA3;
}

.select-all.active {
	background: rgba(24, 155, 163, 0.5);
}

.buttons {
	display: flex;
	justify-content: center;
}

.btn-save {
		margin-left: 10px;
    color: white;
    padding: 10px 30px;
    display: block;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom: 4px solid rgba(0,0,0,0.21);
    border-radius: 4px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 15%);
    background: #189BA3;
    cursor: pointer;
}

.btn-backlogin {
		text-decoration: none;
    color: white;
    padding: 10px 30px;
    display: block;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom: 4px solid rgba(0,0,0,0.21);
    border-radius: 4px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 15%);
    background: #189BA3;
    cursor: pointer;
}

.login-form__wrapper {
	position: relative;
	height: 70vh;
	padding: 30px 0 10px 0;
	box-shadow: 1.8px 2.4px 5px 0 rgba(0, 0, 0, 0.3);
	background-color: #FFFDE7;
}

.login-block {
	margin-top: 100px;
	display: flex;
	justify-content: center;
}

.login-input {
	display: block;
  outline-style: none ;
  border: 1px solid #ccc; 
  border-radius: 5px 0 0 5px;
  padding: 14px 14px;
  width: 60%;
  font-size: 24px;
}

.login-btn {
	font-size: 20px;
	background: #6fc6cc;
	border-radius: 0 5px 5px 0;
}

.direct-login {
	text-decoration: none;
	font-size: 32px;
	margin: 50px auto;
	display: block;
	color: #189BA3;
	text-align: center;
}

.direct-login:hover {
text-decoration:underline;
background-color:#fafafa;
color:gray;
}

@media only screen and (max-width: 768px) {
	h1 {
		font-size: 48px;
	}
}