@mixin flex-set($direction: row, $main-axis: center, $cross-axis: center) {
  display: flex;
  flex-direction:  $direction;
  justify-content: $main-axis;
  align-items: $cross-axis;
}

@mixin center-div($mt, $md) {
  margin: $mt auto $md auto;
}